
.flex {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.card {
   flex: 0 1 calc(25% - 1em);
    justify-content: space-between;
    margin: 8px;
    
    
}

.card {
    border: 1px solid;
    padding: 10px;
    box-shadow:5px 10px gray;
}

h2 {
   border: 1px lightblue; 
   font-family: 'Patua One', cursive;
}

p {
    text-align: justify;
    color: #212121;

    }

h6 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
    font-family: 'Allura', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Patua One', cursive;
    font-family: 'Satisfy', cursive;
    }

p:first-child  {
    width: 100%;
    background-color: gray;
    color : yellow;
    text-align: center;

}

.card { 
    
    border-color: #BDBDBD;
    background: #607D8B;;

}



